if command -v nix &>/dev/null; then
    use flake
    export SSL_CERT_FILE=${NIX_SSL_CERT_FILE:-/nix/var/nix/profiles/default/etc/ssl/certs/ca-bundle.crt}
    export UV_PYTHON_PREFERENCE=only-system
else
  uv python install 3.10
fi

uv python pin 3.10
uv sync --all-extras --all-groups
source ./.venv/bin/activate
