name: CI/CD (main)

on:
  push:
    branches:
      - main
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions:
  contents: write
  pull-requests: write
  issues: write
  checks: write
  pages: write
  id-token: write

jobs:
  qa:
    uses: ./.github/workflows/_qa.yml
    permissions:
      contents: read
      pull-requests: write
      issues: write
      checks: write
    with:
      python-versions: '["3.10", "3.11", "3.12", "3.13"]'
      run-windows: true
      run-macos: true

  docs:
    needs: qa
    uses: ./.github/workflows/_docs.yml
    permissions:
      contents: write
      pages: write
      id-token: write
    with:
      environment: github-pages
      docs-version: ${{ github.ref_name }}
